<div class="container-fluid">

  <!-- Top Title Row -->


  <div class="row g-4 ">

    <!-- LEFT SIDE BOX -->
    <div class="col-md-7 card shadow-sm border-0 rounded-4">
      <div class="d-flex align-items-center justify-content-between mx-0 mb-2">

        <!-- Left side: back icon + indent ID + status badge -->
        <div class="d-flex align-items-center">
          <i class="bi bi-chevron-left fs-4 me-2 cursor-pointer" (click)="back()"></i>
          <h5 class="fw-bold m-0">{{ indentDetailsData?.indentId }}</h5>

          <span class="badge ms-3 fw-semibold" [ngClass]="{
            'bg-success-subtle text-success': indentDetailsData?.status === 'Approved',
            'bg-danger-subtle text-danger': indentDetailsData?.status === 'Rejected',
            'bg-warning-subtle text-warning': indentDetailsData?.status !== 'Approved' && indentDetailsData?.status !== 'Rejected'
          }">
            ● {{ indentDetailsData?.status }}
          </span>
        </div>

        <!-- Right side: button -->
        <span *ngIf="indentDetailsData?.files" class="cursor-pointer text-light custom-btn small px-2 rounded-pill"
          (click)="viewFile()">
          View Files
        </span>


      </div>

      <div class=" shadow-s border-0 rounded-4">
        <div class="card-bod">

          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label text-muted small">Division</label>
              <span class="form-control form-control-sm bg-light" readonly>
                {{ indentDetailsData?.division || '-' }}
              </span>
            </div>

            <div class="col-md-3">
              <label class="form-label text-muted small">Planned Budget</label>
              <span class="form-control form-control-sm bg-light">
                {{ indentDetailsData?.plannedBudget || '-' }}
              </span>
            </div>

            <div class="col-md-3">
              <label class="form-label text-muted small">Estimated Budget</label>
              <span class="form-control form-control-sm bg-light">
                {{ indentDetailsData?.estimatedBudget || '-' }}
              </span>
            </div>

            <!-- <div class="col-md-3">
              <label class="form-label text-muted small">File</label>
              <span class="form-control form-control-sm bg-light fw-semibold">
                View Files
              </span>
            </div> -->
          </div>
          <hr class="custom-hr">

          <!-- <h6 class="fw-bold mb-3">Indent Details</h6> -->

          <!-- First Row -->
          <div class="scroll-container">

            <div *ngFor="let mat of indentDetailsData?.materials; let i = index; let isLast = last" class="mb-3">

              <!-- Header -->
              <div class="d-flex justify-content-between align-items-center mb-2">
                <!-- Left side -->
                <h5 class="fw-semibold text-success">
                  Material {{ i + 1 }}
                </h5>

                <!-- Right side button -->
                <button *ngIf="indentDetailsData?.materials.length > 1" class="btn btn-sm btn-danger"
                  (click)="removeMaterial(mat.sno)">
                  Remove Material
                </button>

              </div>


              <div class="row g-2 small">

                <!-- Plant -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Plant</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.plantName || '-' }}
                  </span>
                </div>

                <!-- Material Type -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Material Type</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.materialType || '-' }}
                  </span>
                </div>

                <!-- Quantity -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Quantity</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.quantity || '-' }}
                  </span>
                </div>

                <!-- Material Name -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Material Name</label>
                  <span class="form-control form-control-sm bg-light text-truncate" style="min-height: 28px;"
                    title="{{ mat?.materialName }}">
                    {{ mat?.materialName || '-' }}
                  </span>
                </div>

                <!-- Unit Price -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Unit Price</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.unitPrice || '-' }}
                  </span>
                </div>

                <!-- Delivery Date -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Delivery Date</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.deliveryDate | date:'dd-MM-yyyy' }}
                  </span>
                </div>

                <!-- Vendor -->
                <div class="col-md-4">
                  <label class="form-label text-muted mb-1">Vendor</label>
                  <span class="form-control form-control-sm bg-light" style="min-height: 28px;">
                    {{ mat?.vendor || '-' }}
                  </span>
                </div>

                <!-- Comments -->
                <div class="col-md-8">
                  <label class="form-label text-muted mb-1">Comments</label>
                  <span class="form-control form-control-sm bg-light text-truncate" style="min-height: 28px;"
                    title="{{ mat?.comments }}">
                    {{ mat?.comments || '-' }}
                  </span>
                </div>
              </div>
              <hr *ngIf="!isLast">
            </div>



          </div>



          <!-- Buttons -->
          <!-- <button *ngIf="!isEdit" class="custom-edit-btn my-3" (click)="toggleEdit()">
              Edit
            </button>


            <button *ngIf="isEdit" class="btn custom-btn px-4 my-3" (click)="saveChanges()">
              Save And Submit
            </button> -->

        </div>
      </div>
    </div>



    <!-- RIGHT SIDE: APPROVAL STATUS -->
    <div class="col-md-5">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body">

          <h5 class="fw-bold mb-3">Approval Status</h5>

          <table class="table table-bordered align-middle small">
            <thead class="table-light">
              <tr>
                <th width="30%">Approval Stage</th>
                <th width="35%">Parameter</th>
                <th>Comment</th>
              </tr>
            </thead>

            <tbody>

              <tr>
                <td>
                  <span class="text-dark fw-bold" style="font-weight: 600;">Manager/HOD</span><br />
                  <span class="text-success">● Approved</span><br />
                  <small>10 Nov, 2025</small>
                </td>
                <td>
                  <div class="item">Medisource Pvt. Ltd.</div>
                  <div class="item">Zen Pvt. Ltd.</div>
                </td>
                <td>
                  <span class="cursor-pointer" data-bs-toggle="tooltip" data-bs-placement="top"
                    data-bs-custom-class="custom-tooltip"
                    data-bs-title="Please review this section carefully — the current implementation may cause unexpected behavior and needs attention before moving forward.">
                    The current implementation loo....
                  </span>
                </td>
              </tr>

              <tr>
                <td>
                  <span class="text-dark fw-bold" style="font-weight: 600;">Purchase</span><br />
                  <span class="text-success">● Approved</span><br />
                  <small>10 Nov, 2025</small>
                </td>
                <td></td>
                <td></td>
              </tr>

              <tr>
                <td>
                  <span class="text-dark fw-bold" style="font-weight: 600;">SAAP</span><br />
                  <span class="text-warning">● Approved</span><br />
                  <small>--</small>
                </td>
                <td></td>
                <td></td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>

</div>




<!-- PDF Overlay -->
<div *ngIf="showPDF" class="overlay">

  <!-- Close button (top-right like screenshot) -->
  <button class="close-btn" (click)="closePDF()">✖</button>

  <div class="pdf-container">

    <!-- File selector -->
    <div class="file-selector d-flex flex-nowrap gap-3 p-2">
      <div *ngFor="let file of pdfFiles; let i = index" class="form-check me-3 py-1" style="white-space: nowrap;">
        <input type="radio" name="pdfFiles" [checked]="selectedFileIndex === i" (change)="onFileChange(i)"
          class="form-check-input" id="pdf{{ i }}" />
        <label class="form-check-label ms-1 fw-bold text-truncate" style="max-width: 200px" [title]="file.name"
          for="pdf{{ i }}">
          {{ file.name }}
        </label>
      </div>
    </div>

    <!-- PDF -->
    <iframe [src]="selectedFileUrl"></iframe>

  </div>
</div>