input::placeholder,
textarea::placeholder {
  font-size: 0.775rem;
  color: #6c757d;
  opacity: 0.5;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}

input,
textarea,
select {
  font-size: 0.775rem !important;
}

.scroll-container {
  max-height: calc(100vh - 75px);
  overflow-y: auto;
   scrollbar-width: none;     // Firefox
  -ms-overflow-style: none;  // IE & Edge

  &::-webkit-scrollbar {
    display: none;           // Chrome, Safari
  }
}

.custom-edit-btn {
  padding: 6px 26px;
  border: 1px solid #27c27f;   // Green border
  background-color: #e6faf1;   // Light mint green background
  color: #1fa56a;              // Green text
  border-radius: 10px;         // Rounded shape
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #d7f7ea;
    border-color: #18a567;
  }

  &:active {
    transform: scale(0.95);
  }
}
