input::placeholder,
textarea::placeholder {
  font-size: 0.775rem;
  color: #6c757d;
  opacity: 0.5;
}
input:focus,
textarea:focus,
select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}

input,
textarea,
select {
  font-size: 0.775rem !important;
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 13px;
  color: #6c757d;
}

.custom-hr {
  border: none;
  height: 1px;
  background-color: #198754; /* Bootstrap green */
  opacity: 0.6;
  margin: 0.75rem 0;
}


.scroll-container {
  max-height: calc(100vh - 255px);
  min-height: calc(100vh - 255px);
  overflow-y: auto;
   scrollbar-width: none;     // Firefox
  -ms-overflow-style: none;  // IE & Edge

  &::-webkit-scrollbar {
    display: none;           // Chrome, Safari
  }
}

.custom-edit-btn {
  padding: 6px 26px;
  border: 1px solid #27c27f;   // Green border
  background-color: #e6faf1;   // Light mint green background
  color: #1fa56a;              // Green text
  border-radius: 10px;         // Rounded shape
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #d7f7ea;
    border-color: #18a567;
  }

  &:active {
    transform: scale(0.95);
  }
}

.fs-small {
  font-size: 10px;
}


// dor vertical line 


.item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 0px;

  // Dot
  &::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 8px;     // center alignment
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
  }

  // Line exactly from center of dot to next dot
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 2px;     // half of dot width => centers the line
    top: 14px;     // starts from center bottom of dot
    width: 2px;
    height: calc(100% - 6px);  // ends at center of next dot
    background-color: rgb(185, 181, 181);
  }
}
