input::placeholder,
textarea::placeholder {
  font-size: 0.775rem;
  color: #6c757d;
  opacity: 0.5;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #000 !important;
  box-shadow: none !important;
}

input,
textarea,
select {
  font-size: 0.775rem !important;
}

.scroll-container {
  max-height: calc(100vh - 255px);
  min-height: calc(100vh - 255px);
  overflow-y: auto;
  scrollbar-width: none; // Firefox
  -ms-overflow-style: none; // IE & Edge

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari
  }
}

.custom-edit-btn {
  padding: 6px 26px;
  border: 1px solid #27c27f; // Green border
  background-color: #e6faf1; // Light mint green background
  color: #1fa56a; // Green text
  border-radius: 10px; // Rounded shape
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: #d7f7ea;
    border-color: #18a567;
  }

  &:active {
    transform: scale(0.95);
  }
}

label {
  display: block;
  margin-bottom: 0.25rem;
  font-size: 13px;
  color: #6c757d;
}

.hr-opacity-50 {
  border: 1px solid rgba(0, 0, 0, 0.5);
}




// dor vertical line 


.item {
  position: relative;
  padding-left: 12px;
  margin-bottom: 0px;

  // Dot
  &::before {
    content: "";
    position: absolute;
    left: 0; 
    top: 8px;     // center alignment
    width: 6px;
    height: 6px;
    background-color: black;
    border-radius: 50%;
  }

  // Line exactly from center of dot to next dot
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 2px;     // half of dot width => centers the line
    top: 14px;     // starts from center bottom of dot
    width: 2px;
    height: calc(100% - 6px);  // ends at center of next dot
    background-color: rgb(185, 181, 181);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .pdf-container {
    position: relative;
    width: 60%;
    height: 90%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    iframe {
      width: 100%;
      height: calc(100% - 50px); // leave space for radio buttons
      border: none;
    }

    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background: red;
      color: white;
      border: none;
      cursor: pointer;
      font-size: 18px;
      padding: 4px 10px;
      border-radius: 50%;
      transition: background 0.3s ease;

      &:hover {
        background: darkred;
      }
    }
  }
}

/* Label color */
.form-check-input:checked+.form-check-label {
  color: #0AB86D;
  font-weight: 600;
}

/* Radio border */
.form-check-input:checked {
  background-color: #0AB86D;
  border-color: #0AB86D;
}

/* Inner dot color (Bootstrap radio) */
.form-check-input:checked[type="radio"] {
  background-image: radial-gradient(circle,
      #fff 35%,
      #0AB86D 36%);
}